<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [ngClass]="{ hidden: !(isHandset | async)!.matches}" fixedInViewport="false"
    [attr.role]="isHandset ? 'dialog' : 'navigation'" [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <!-- <mat-toolbar class="app-toolbar">
        <a mat-button routerLink="/home" color="primary">Home</a>
        <a mat-button routerLink="/event-creator" color="">Create Event</a>
    </mat-toolbar> -->
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/event-creator">Create Event</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <ng-container *ngIf="!(isHandset | async)!.matches">
        <a mat-button routerLink="/home" color="{{currentRoute === 'home' ? 'primary' : ''}}">Home</a>
        <a mat-button routerLink="/event-creator" color="{{currentRoute === 'event-creator' ? 'primary' : ''}}">Create
          Event</a>
        <a mat-button routerLink="/event-manager" color="{{currentRoute === 'event-manager' ? 'primary' : ''}}">Event
          Manager</a>
      </ng-container>
      <span class="spacer"></span>
      <span>Page Name</span>
    </mat-toolbar>
    <main class="main-container">
      <ng-content></ng-content>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>