$primary-palette: (
  50: #dff4f6,
  100: #ade5e6,
  200: #71d5d6,
  300: #08c4c4,//my main blue
  400: #00b6b5,
  500: #00a8a3,
  600: #009a95,
  700: #008983,
  800: #007972,
  900: #005c53,
  A100: #e6d0b4,
  A200: #d6b285,
  A400: #c37f2f,
  A700: #b05610,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #010101,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$secondary-palette: (
  50: #d6b185,
  100: #e6d0b4,
  200: #d6b285,//my main gold
  300: #c99454,
  400: #c37f2f,
  500: #ba6c14,
  600: #b76312,
  700: #b05610,
  800: #a9480b,
  900: #9e3005,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);


// #08c4c4
// #d6b185